<div>  
                      <div style="margin-top:5%" class="accounts">
                        <div style="display:block">
                        </div>
                          <% trans = @bank.transactions%>


                        <div class="input-group"> <span class="input-group-addon">Filter</span>

                          <input id="filter" type="text" class="form-control" placeholder="Type here...">
                        </div>
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Citizen Name</th>
                              <th>Transaction Type</th>
                              <th>Transaction Amount</th>
                              <th>Account Balance</th>
                              <th>Transaction Date</th>
                            </tr>
                          </thead>
                          <tbody class="searchable">
                            <div style="display:none">
                              <%= count=0 %>
                            </div>
                            <% trans.each do |tran| %>
                            <tr>
                              <div style="display:none">
                               <%= citizenbio= Citizen.find_by(:id => tran.citizen_id ) %>
                             </div>
                             <td><%= count=count+1 %> </td>
                             <td><%= citizenbio.name %> </td>
                             <td ><%= tran.transaction_name %></td>
                             <td><%= tran.transaction_amount %></td>
                             <td><%= tran.account_balance%></td>
                             <td><%= tran.created_at   %></td>
                           </tr>
                           <% end %> 
                           <% if count == 0 %>
                           <h1>No Transaction available yet</h1>  
                           <% end %>
                         </tbody>
                       </table>
                     </div>
                    </div>

