<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bank.name %>
</p>

<p>
  <strong>Bank type:</strong>
  <%= @bank.bank_type %>
</p>

<p>
  <strong>Registration no:</strong>
  <%= @bank.registration_no %>
</p>

<p>
  <strong>Founded data:</strong>
  <%= @bank.founded_data %>
</p>

<p>
  <strong>Main service:</strong>
  <%= @bank.main_service %>
</p>

<p>
  <strong>Bank email:</strong>
  <%= @bank.email %>
</p>

<p>
  <strong>Bank website:</strong>
  <%= @bank.bank_website %>
</p>

<p>
  <strong>Bank logo url:</strong>
  <%= @bank.bank_logo_url %>
</p>

<p>
  <strong>Token:</strong>
  <%= @bank.token %>
</p>

<%= link_to 'Edit', edit_bank_path(@bank) %> |
<%= link_to 'Back', banks_path %>
