

    <div id="wrapper">

        <!-- Sidebar -->
        <div  id="sidebar-wrapper" style="background-color:#101010">
            <ul style="padding-top:100px;" class="sidebar-nav">
                <li class="sidebar-brand">
                </li> 
                <font size="5" face="arial">
                <li>
                <hr>
                    <a href="#" onclick="bankPage('dashboard')"><i class="fa-dashboard " > Dashboard</a></i>
                </li>
                <hr>
                <li>
                    <a href="#" onclick="bankPage('accounts')"><i class="fa-users">  Accounts</i></a>
                </li>
                
                <hr>
                <li>
                    <a href="#" onclick="bankPage('profile')" ><i class="fa-cog"> Settings</i></a>
                </li>
                <hr>
                </font>
            </ul>
        </div>
            
        <!-- /#sidebar-wrapper -->
       <br><br>
       <div style="margin-top:10%" id="dashboard" class="dashboard"><center>
    
<html>
<head>
<title>Highcharts Tutorial</title>
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
   <script src="http://code.highcharts.com/highcharts.js"></script>  
</head>
<body>
<div id="container" style="width: 550px; height: 400px; margin: 0 auto"></div>
<script language="JavaScript">
$(document).ready(function() {  
   var title = {
      text: 'Combination chart'   
   };
   var xAxis = {
      categories: ['Apples', 'Oranges', 'Pears', 'Bananas', 'Plums']
   };
   var labels = {
      items: [{
         html: 'Total fruit consumption',
            style: {
               left: '50px',
               top: '18px',
               color: (Highcharts.theme && Highcharts.theme.textColor) || 'black'
            }
      }]
   };
   var series= [{
        type: 'column',
            name: 'Jane',
            data: [3, 2, 1, 3, 4]
        }, {
            type: 'column',
            name: 'John',
            data: [2, 3, 5, 7, 6]
        }, {
            type: 'column',
            name: 'Joe',
            data: [4, 3, 3, 9, 0]
        }, {
            type: 'spline',
            name: 'Average',
            data: [3, 2.67, 3, 6.33, 3.33],
            marker: {
                lineWidth: 2,
                lineColor: Highcharts.getOptions().colors[3],
                fillColor: 'white'
            }
        }, {
            type: 'pie',
            name: 'Total consumption',
            data: [{
                name: 'Jane',
                y: 13,
                color: Highcharts.getOptions().colors[0] // Jane's color
            }, {
                name: 'John',
                y: 23,
                color: Highcharts.getOptions().colors[1] // John's color
            }, {
                name: 'Joe',
                y: 19,
                color: Highcharts.getOptions().colors[2] // Joe's color
            }],
            center: [100, 80],
            size: 100,
            showInLegend: false,
            dataLabels: {
                enabled: false
            }
      }
   ];     
      
   var json = {};   
   json.title = title;   
   json.xAxis = xAxis;
   json.labels = labels;  
   json.series = series;
   $('#container').highcharts(json);  
});
</script>
</body>
</html>


       </center></div>

    <center>  
<div  id="accounts" style="margin-top:10%;width:90%" class="accounts">
<div style="display:none">
<%= citizens=@bank.citizen_bank_data %>
</div>


<div class="input-group"> <span class="input-group-addon">Filter</span>

    <input id="filter" type="text" class="form-control" placeholder="Type here...">
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Acc #</th>
            <th>Account Balance</th>
            <th>Last transaction Date</th>
        </tr>
    </thead>
    <tbody class="searchable">
    <div style="display:none">
    <%= count=0 %>
    </div>
    <% citizens.each do |citizen| %>
        <tr>
        <div style="display:none">
           <%= citizenbio= Citizen.find_by(:id => citizen.citizen_id ) %>
            </div>
            <td><%= count=count+1 %> </td>
            <td><%= citizenbio.name %></td>
            <td><%= citizen.account_id %></td>
            <td><%= citizenbio.transactions.last.account_balance %></td>
            <td><%= citizenbio.transactions.last.created_at   %></td>
        </tr>
     <% end %> 
     <% if count == 0 %>
         <h1>No Transaction available yet</h1>  
     <% end %>
    </tbody>
</table>
</div>
</center>

        <!-- Page Content -->
        <div id="main-pan">
        <div  id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row" id="profile">
                    <div class="col-lg-12">
                    <br>
    
<ol class="breadcrumb">
  <li><a href="#"><font size="5">Bank</font></a></li>
  <li class="active"><font size="5">Profile</font></li>
</ol>
 <a  href="#menu-toggle" class="btn btn-default fa-bars pull-left" id="menu-toggle">Toggle Menu</a>
<br><br><br><br><center>

  
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="table-responsive">
        <table  class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Your Api Key</th>
              <th>Profile</th>
              
            </tr>
          </thead>
          <tbody>
           
            <tr>
              <td><div class="panel panel-default"><div class="panel-body">

                <p>
                <center>
               
                  
                  <font size="4"><strong>Token: </strong><%= @bank.token %></font></center></p>
                  <a href="#" data-toggle="modal" data-target="#docs">View Api Documentation</a>
                  <button class="btn btn-default pull-right">Generate New</button>
                </p>
              </div></div></td>
              <td><div class="panel panel-default">
  
  <div class="panel-body">
<%= render 'form' %>
  </div>
</div></td>
              
            </tr>
           
          </tbody>
          <tfoot>
            <tr>
              <td colspan="5" class="text-center">.</td>
            </tr>
          </tfoot>
        </table>
      </div><!--end of .table-responsive-->
    </div>
  </div>
</div>


<div id="docs" style="width:60%" class="modal " role="dialog">
  <div class="modal-dialog" >

    <!-- Modal content-->
    <div class="modal-content">
      
      <div class="modal-body">
        <p><pre>API DOcs to be attached
          with token
          <u>Get transactions</u>
        {json here}
        {code here}
        <u>post transactions</u>
        {json here}
        {code here}
        <u>get user</u>
        {json here}
        {code here}
        <u>create user</u>
        {json here}
        {code here}
        
        </pre></p>
      </div>
     </div>
  </div>
</div>

<!-- dashboard end -->
<div style="display:none">
  
  <%= @K = @bank.transactions %>
  <%= @f=@K.first%>
  <%= @f.id%>
</div>

</center>
<script type="text/javascript">init();</script>
  
