<%= render 'admins/header' %>  
<p id="notice"><%= notice %></p>

<div id="wrapper">

  <!-- Top Bar Start -->
  <%= render 'admins/topbar' %>
  <!-- Top Bar End -->


  <!-- LEFT SIDEBAR  -->

  <%= render 'admins/left_sidebar' %>

  <div class="content-page">
    <!-- Start content -->
    <div class="content">
     <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="card-box">
            <table id="datatable" class="table table-striped table-bordered">
              <% if @citizen_bank.present? %>
              <center><h1>Listing Citizens</h1></center>

              <thead>
                <tr>
                  <th>Citizen Name</th>
                  <th>Citizen Number</th>
                  <th>Citizen Email</th>
                  <th>Citizen Address</th>
                  <th>Citizen National ID</th>
                </tr>
              </thead>

              <tbody>

                <tr>  
                  <td><%= @citizen_name%></td>
                  <td><%= @citizen_number %></td>
                  <td><%= @citizen_email %></td>
                  <td><%= @citizen_address %></td>
                  <td><%= @citizen_national_id %></td>
                </tr>
                <% else %>
                <h1 class="text-center"><%= @empty%></h1>
                <% end %>

              </tbody>
            </table>
          </div>
        </div>



        <br>

       <!--  <%= link_to 'New Citizen', new_citizen_path %>
        <%= link_to 'Sign out', destroy_admin_session_path , method: :delete, data: { confirm: 'Are you sure?' } %> !
      -->
      <%= render 'admins/footer'%>