<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="keywords" content="CONTROL SUITE ™">
  <meta name="description" content="CONTROL SUITE ™">
  <meta name="author" content="CONTROL SUITE ™">

  <title>CONTROL SUITE &#8482;</title>

  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_admin %>
  Signed in as <%= current_admin.name %> | <%= link_to "Logout",  destroy_bank_session_path, method: :delete %>
<% else %>
 <!--  <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %> -->
<% end %>
<%= yield %>

</body>
</html>
